.return {
  font-family: "Raleway";
  .heading-content {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 40px;
      text-transform: uppercase;
    }
    img {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
}
.contact {
  
  

  img {
    display: block;
    margin: auto;
  }
  input,
  textarea {
    outline: none;
  }
  
}
.about {
  font-family: "Raleway";
}
.gold-primary {
  background-color: #e6c361;
  background: linear-gradient(90deg, #e6c361 0%, #c38d48 100%);
}
