.swipe-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  width: 100%;
  height: 80vh;
  scrollbar-width: none;
  padding: 20px;
  -ms-overflow-style: none;
  transition: transform 1s ease-in-out;
}

.swipe-container::-webkit-scrollbar {
  display: none;
}

.swipe-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
@keyframes floatingRose {
  0% {
    transform: translateY(-20%) scale(70%) rotate(100deg);
  }
  50% {
    transform: translateY(-100%) scale(90%) rotate(110deg);
  }
  100% {
    transform: translateY(-20%) scale(70%) rotate(100deg);
  }
}

@keyframes rotatePetals {
  0% {
    transform: translateY(-20%) scale(100%) rotate(90deg);
  }
  50% {
    transform: translateX(0%) scale(120%) rotate(90deg);
  }
  100% {
    transform: translateY(-20%) scale(100%) rotate(90deg);
  }
}
