.swiper {
  width: 100%;
  height: 80vh;
  /* background:url('../../assets/home/texturebg2.jpg'); */
  background-color: #cea352;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes swing {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) translateX(5px) rotate(45deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}

.swinging-image {
  animation: swing 22s ease-in-out infinite;
}
