.swipe-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  width: 100%;
  height: 80vh;
  scrollbar-width: none;
  padding: 20px;
  -ms-overflow-style: none;
  transition: transform 1s ease-in-out;
}

.swipe-container::-webkit-scrollbar {
  display: none;
}

.swipe-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-image: linear-gradient(
    to bottom,
    #103d2c,
    #02452c,
    #015b3a,
    #017148,
    #048956,
    #199963,
    #29aa70,
    #36bb7e,
    #4ac98f,
    #5dd7a0,
    #6fe6b2,
    #81f4c3
  );
}
