@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');


 
.coverobject{
    object-fit: cover !important; /* Keep the aspect ratio and cover the container */
}

.featured-product{
    background-color: #f4f4f4;
    margin-top: 100px;
}

@media screen and (max-width: 600px) {
    .cust-card{
        // border: 1px solid red !important;
        width: 100%;
    }
}