.login {
  &-bg {
    background-color: #67ff8de2;
    font-family: "Raleway";
  }
  &-btn {
    background: linear-gradient(90deg, #e6c361 0%, #c38d48 100%);
    &:hover {
      background: linear-gradient(90deg, #c38d48 0%, #e6c361 100%);
    }
  }
}

.singup {
  &-bg {
    background-color: #67ff8de2;
    font-family: "Raleway";
  }
  &-btn {
    background: linear-gradient(90deg, #e6c361 0%, #c38d48 100%);
    &:hover {
      background: linear-gradient(90deg, #c38d48 0%, #e6c361 100%);
    }
  }
}
