@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
berkshire-swash-bold .primary-font {
  font-family: "Berkshire Swash", serif;
  font-weight: 700;
  font-style: normal;
}

.maven-pro-font {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-light {
  background: rgba(17, 17, 17, 0.7);
}

.height-adjust {
  margin-top: -100px;
}
.custom-border {
  // border: 0.9px dashed #E6C361;
  border: 0.9px solid #000000;
  padding: 0px;
  padding-top: 5px;
  width: 50px;
  height: 50px;
  position: relative;
  /* border-radius: 1px; */
  .custom-count {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: #030303;
    color: #ffffff;
    padding: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    span {
      margin-left: 0 !important;
      font-size: 10px;
    }
  }
}
.nav-height {
  height: 80px;
}
.nav-width {
  width: 80%;
  margin: auto;
}
.logo {
  border: 1px solid #ffffff;
  border-radius: 100%;
}

/* hero */
.hero {
  .mob {
    display: none;
  }
  position: relative;
  .hero-content {
    position: absolute;
    bottom: 34%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }
}
// mobile

// About
.about {
  width: 80%;
  padding: 0 32px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  .about-content {
    margin-top: 20px;

    img {
      display: block;
      margin: auto;
    }
  }
  .about-para {
    margin-top: 30px;

    img {
      margin-top: 30px !important;
      display: block;
      margin: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .nav-height {
    height: 60px;
  }
  .height-adjust {
    margin-top: -100px;
    height: 400px;
  }
  .logo {
    border: none;
    border-radius: 100%;
    width: 100px !important;
  }

  .nav-width {
    width: 100%;
    margin: auto;
  }
  // hero
  .hero {
    .mob {
      display: block;
    }
    .desk {
      display: none;
    }

    position: relative;
    img {
      object-fit: cover;
      width: 100%;
    }
    .hero-content {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    }
  }
  // About
  .about {
    width: 100%;
    padding: 0 32px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    .about-content {
      margin-top: 20px;
      h3 {
        font-size: 20px;
        word-spacing: 10px;
        font-weight: 100;
      }
      h4 {
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 3px;
      }
      img {
        display: block;
        margin: auto;
      }
    }
    .about-para {
      margin-top: 30px;
      h4 {
        font-size: 18px;
        font-weight: 400;
      }
      p {
        font-size: 12px;
        margin-top: 10px !important;
        width: 80%;
        margin: auto;
        font-weight: 300;
        max-width: 1000px;
        line-height: 24px;
        color: #1b1a1a;
      }
      img {
        margin-top: 30px !important;
        display: block;
        margin: auto;
      }
    }
  }
}
// Why
.why {
  // width: 80%;
  margin: auto;
  // max-width: 1300px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left {
    width: 50%;
    .heading {
      img {
        margin: 20px 0;
      }
    }
    .para {
      .point {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .bullet {
          background-color: #e6c361;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 4px;
          .inner {
            background-color: #fff;
            width: 6px;
            height: 6px;
            border-radius: 100%;
          }
        }
      }
    }
    .cta-btn {
      background: linear-gradient(90deg, #e6c361 0%, #c38d48 100%);
      width: 220px;
      margin-top: 20px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      padding: 12px 10px;
      letter-spacing: 3px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 16px;
        transform: rotate(90deg);
        margin-left: 6px;
      }
      margin-top: 30px;
      transition: transform 0.4s ease;
    }
    .cta-btn:hover {
      // border: 1px solid #E6C361;
      // background: #00000000;
      // color: #E6C361;
      transition: ease-in;
      transform: scale(0.95);
    }
  }
  .right {
    width: 50%;
    video {
      width: 100%;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  .nav-height {
    height: 60px;
  }
  .height-adjust {
    margin-top: -100px;
    height: 400px;
  }
  .logo {
    border: none;
    border-radius: 100%;
    width: 80px !important;
  }
  .custom-border {
  }
  .custom-border {
    // border: 0.9px dashed #E6C361;
    border: 0.9px solid #000000;
    padding: 0px;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    /* border-radius: 1px; */
    .custom-count {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #000000;
      color: #fff;
      padding: 5px;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      span {
        margin-left: 0 !important;
        font-size: 10px;
      }
    }
  }
  // hero
  .hero {
    position: relative;
    .hero-content {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    }
  }
  // About
  .about {
    width: 100%;
    padding: 0 32px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    .about-content {
      margin-top: 20px;

      img {
        display: block;
        margin: auto;
      }
    }
    .about-para {
      margin-top: 30px;

      img {
        margin-top: 30px !important;
        display: block;
        margin: auto;
      }
    }
  }
  .why {
    // width: 80%;
    margin: auto;
    // max-width: 1300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .left {
      width: 100%;
      padding: 0 32px;
      .heading {
        img {
          margin: 20px 0;
        }
      }
      .para {
        .point {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .bullet {
            background-color: #e6c361;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4px;
            .inner {
              background-color: #fff;
              width: 6px;
              height: 6px;
              border-radius: 100%;
            }
          }
        }
      }
      .cta-btn {
        background: linear-gradient(90deg, #e6c361 0%, #c38d48 100%);
        width: 220px;
        margin-top: 20px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        padding: 12px 10px;
        letter-spacing: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 16px;
          transform: rotate(90deg);
          margin-left: 6px;
        }
        margin-top: 30px;
        transition: transform 0.4s ease;
      }
      .cta-btn:hover {
        // border: 1px solid #E6C361;
        // background: #00000000;
        // color: #E6C361;
        transition: ease-in;
        transform: scale(0.95);
      }
    }
    .right {
      width: 100%;
      padding: 0px 32px;
      margin-top: 10px;
      video {
        width: 100%;
        border-radius: 4px;
      }
    }
  }
}
